$color1: #883000;
$color2: #311432;
$color3: #000;
$font1: Verdana, Geneva, Tahoma, sans-serif;

*{
    margin: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-image: url(../multimedia/Virology_LadyDi-1920x1024.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 30px;
    border-style: double;

    .header-grid{
        box-sizing: border-box;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        justify-content: center;
        align-content: center;
        position: relative;
    }

    h1{
        color: $color1; 
        font-size: 100px;
        text-align: center;
        font-family: $font1;
        padding: 10px;
        text-shadow: 0 2px 0 white;
    }

    ul{
        text-shadow: 0 2px 0 white;
        border: 0px none rgba(100, 100, 100, 0);
        border-radius: 60px;
        background-color: rgba(255, 254, 0, 1);
        box-shadow:
        inset 4px 14px 18px 0px rgba(232, 126, 29, 1),
        inset -4px -18px 18px 0px rgba(232, 126, 29, 1),
        12px 12px 24px 0px rgba(232, 126, 29, 1);
    }
    
        #nav1:hover, #nav2:hover, #nav3:hover, #nav4:hover, #nav5:hover{
            transition: height 2.7s;
            height: 50px;
        }
        
        a:visited{text-decoration: none; color: $color1;} a{text-decoration: none; color: $color1;}

        .nav-grid{
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1fr;
            justify-items: center;
            position: relative;
            list-style: none;
        }
    }
body{
    background-image: url(../multimedia/backgroundv2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 0px;
    border-style: none;

    h3{
        font-family: $font1;
        font-size: 32px;
        letter-spacing: 2px;
        word-spacing: 7px;
        text-align: center;
        text-decoration: underline;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 60px;
        margin-right: 60px;
        padding: 30px;
    }

    h6{
        text-align: center;
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
    }

    .subtitle-grid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        justify-items: center;
        position: relative;
    }

    p{
        font-family: $font1;
        font-size: 24px;
        letter-spacing: 2px;
        word-spacing: 5px;
        line-height: 28px;
        text-align: center;
        text-align: justify;
        margin-left: 150px;
        margin-right: 150px;
        padding: 5px;
    }

    section p{
        font-family: $font1;
        font-size: 24px;
        letter-spacing: 2px;
        word-spacing: 2px;
        line-height: 42px;
        text-align: center;
        text-align: justify;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 50px;
        padding: 10px;
    }

    .indexp-grid{
        justify-content: center;
        align-content: center;
    }

    .historiap-grid{
        justify-content: center;
        align-content: center;
    }

    @mixin sizes($width, $height) {
        height: $height;
        width: $width;
    }
        
    .galeria{
        @include sizes(400px, 250px);
        margin: 25px;
    }

        #img1:hover, #img2:hover, #img3:hover, #img4:hover, #img5:hover, #img6:hover{
            transform: scale(1.05);
            transition: 0.7s;
            box-shadow: 2px 2px 5px #333;
            border: 1px solid #ddd;
            width: 450px;
            height: 275px;
            border-radius: 8px;
            padding: 10px;
        }

    .form{
        color: aliceblue;
        height: auto;
        width: 100vh;
        border-radius: 7px;
        display: flex;
        justify-content: center;
    }

    fieldset {
        background-color: transparent;
        border-color: transparent;
    }

    //extend
    .submit{
    @extend .submit;
    margin-bottom: 20px;
    }

    footer{
        background-color: $color2;
        padding: 30px;

        p{
            color: $color3;
            font-size: 20px;
            text-align: center;
            margin: 10px;
        }

        h2{
            margin: 10px;
            text-align: center;
        }
    }
}

@media only screen and (min-width: 265px) and (max-width: 719px) {
    .body{
        display: grid;
        box-sizing: border-box;
    }
        h1{
            font-size: 50px;
        }
        .galeria{
            margin: 25px;
            grid-row-gap: 10px;
            justify-items: center;
            align-items: center;
        }
}
@media only screen and (min-width: 720px) and (max-width: 896px) {
    .body{
        box-sizing: border-box;
    }
        .galeria{
            margin-left: 30px;
            justify-items: center;
            align-items: center;
        }
}
@media only screen and (min-width: 897px) and (max-width: 1263px) {
    .body{
        box-sizing: border-box;
    }
        .galeria{
            margin: 25px;
            justify-items: center;
            align-items: center;
        }
}
@media only screen and (min-width: 1264px) {
    .body{
        box-sizing: border-box;
    }
        .galeria{
            margin-left: 30px;
            justify-items: center;
            align-items: center;
        }
}

