* {
  margin: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  background-image: url(../multimedia/Virology_LadyDi-1920x1024.jpg);
  width: auto;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
}
header .header-grid {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-content: center;
  position: relative;
}
header h1 {
  color: #883000;
  font-size: 100px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 50px;
  text-shadow: 0 2px 0 white;
}
header .nav-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  position: relative;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  border: 0px none rgba(100, 100, 100, 0);
  border-radius: 75px;
  background-color: rgb(165, 166, 246);
  box-shadow: inset -1px -1px 20px 0px rgba(0, 0, 0, 0.23), inset 1px 1px 24px 0px rgba(125, 125, 237, 0.6);
}
header #nav1:hover, header #nav2:hover, header #nav3:hover, header #nav4:hover, header #nav5:hover {
  text-transform: uppercase;
  text-shadow: 0 0 15px #8e54e9;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
header a:visited {
  text-decoration: none;
  color: #883000;
}
header a {
  text-decoration: none;
  color: #883000;
}

body {
  background-image: url(../multimedia/backgroundv2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px;
  margin-bottom: 0px;
  border-style: none;
}
body h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  letter-spacing: 2px;
  word-spacing: 7px;
  text-align: center;
  text-decoration: underline;
  margin: auto;
  padding: auto;
}
body h6 {
  text-align: center;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}
body .subtitle-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  position: relative;
}
body p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  word-spacing: 5px;
  line-height: 28px;
  text-align: center;
  text-align: justify;
  margin: auto;
  padding: auto;
}
body section p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  word-spacing: 2px;
  line-height: 42px;
  text-align: center;
  text-align: justify;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  padding: 10px;
}
body .indexp-grid {
  display: block;
  justify-content: center;
  align-content: center;
}
body .historiap-grid {
  display: grid;
  justify-content: center;
  align-content: center;
}
body .galeria {
  height: 250px;
  width: 400px;
  margin: 20px;
}
body #img1:hover, body #img2:hover, body #img3:hover, body #img4:hover, body #img5:hover, body #img6:hover {
  transform: scale(1.05);
  transition: 0.7s;
  box-shadow: 2px 2px 5px #333;
  border: 1px solid #ddd;
  width: 450px;
  height: 275px;
  border-radius: 8px;
  padding: 10px;
  vertical-align: none;
}
body .form {
  color: aliceblue;
  height: auto;
  width: 100vh;
  border-radius: 7px;
  display: flex;
  justify-content: center;
}
body fieldset {
  background-color: transparent;
  border-color: transparent;
}
body .submit {
  margin-bottom: 20px;
}
body footer {
  background-color: #311432;
  padding: 30px;
}
body footer p {
  color: #000;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}
body footer h2 {
  margin: 10px;
  text-align: center;
}

@media only screen and (min-width: 265px) and (max-width: 719px) {
  .body {
    display: grid;
    box-sizing: border-box;
  }
  .header-grid {
    font-size: 50px;
  }
  .subtitle-grid {
    padding: 40px;
    margin: 20px;
  }
  .galeria {
    margin-left: 10px;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
  }
}
@media only screen and (min-width: 720px) and (max-width: 896px) {
  .body {
    display: grid;
    box-sizing: border-box;
  }
  .header-grid {
    font-size: 50px;
  }
  .subtitle-grid {
    padding: 40px;
    margin: 20px;
  }
  .galeria {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin-left: 30px;
    justify-items: center;
    align-items: center;
  }
}
@media only screen and (min-width: 897px) and (max-width: 1263px) {
  .body {
    display: grid;
    box-sizing: border-box;
  }
  .header-grid {
    font-size: 75px;
  }
  .subtitle-grid {
    padding: 40px;
    margin: 20px;
  }
  .galeria {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin: 25px;
    justify-items: center;
    align-items: center;
  }
}
@media only screen and (min-width: 1264px) {
  .body {
    display: grid;
    box-sizing: border-box;
  }
  .header-grid {
    font-size: 100px;
  }
  .subtitle-grid {
    padding: 40px;
    margin: 20px;
  }
  .galeria {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin-left: 30px;
    justify-items: center;
    align-items: center;
  }
}/*# sourceMappingURL=estilos.css.map */