* {
  box-sizing: border-box;
}

header {
  background-image: url(../multimedia/Virology_LadyDi-1920x1024.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 30px;
  border-style: double;
}
header .header-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-content: center;
  position: relative;
}
header h1 {
  color: #883000;
  font-size: 100px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  text-shadow: 0 2px 0 white;
}
header ul {
  text-shadow: 0 2px 0 white;
  border: 0px none rgba(100, 100, 100, 0);
  border-radius: 60px;
  background-color: rgb(255, 254, 0);
  box-shadow: inset 4px 14px 18px 0px rgb(232, 126, 29), inset -4px -18px 18px 0px rgb(232, 126, 29), 12px 12px 24px 0px rgb(232, 126, 29);
}
header #nav1 {
  transition: height 2.7s;
}
header #nav1:hover {
  height: 50px;
}
header #nav2 {
  transition: height 2.7s;
}
header #nav2:hover {
  height: 50px;
}
header #nav3 {
  transition: height 2.7s;
}
header #nav3:hover {
  height: 50px;
}
header #nav4 {
  transition: height 2.7s;
}
header #nav4:hover {
  height: 50px;
}
header #nav5 {
  transition: height 2.7s;
}
header #nav5:hover {
  height: 50px;
}
header a:visited {
  text-decoration: none;
  color: #883000;
}
header a {
  text-decoration: none;
  color: #883000;
}
header .nav-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  position: relative;
  list-style: none;
}

body {
  background-image: url(../multimedia/backgroundv2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px;
  margin-bottom: 0px;
  border-style: none;
}
body h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  letter-spacing: 2px;
  word-spacing: 7px;
  text-align: center;
  text-decoration: underline;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 60px;
  padding: 30px;
}
body h6 {
  text-align: center;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}
body .subtitle-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  position: relative;
}
body p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  word-spacing: 5px;
  line-height: 28px;
  text-align: center;
  text-align: justify;
  margin-left: 150px;
  margin-right: 150px;
  padding: 5px;
}
body section p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  word-spacing: 2px;
  line-height: 42px;
  text-align: center;
  text-align: justify;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  padding: 10px;
}
body .indexp-grid {
  justify-content: center;
  align-content: center;
}
body .historiap-grid {
  justify-content: center;
  align-content: center;
}
body .galeria {
  margin: 25px;
}
body #img1:hover {
  transform: scale(1.05);
  transition: 0.7s;
  box-shadow: 2px 2px 5px #333;
  border: 1px solid #ddd;
  width: 450px;
  height: 275px;
  border-radius: 8px;
  padding: 10px;
}
body #img2:hover {
  transform: scale(1.05);
  transition: 0.7s;
  box-shadow: 2px 2px 5px #333;
  border: 1px solid #ddd;
  width: 450px;
  height: 275px;
  border-radius: 8px;
  padding: 10px;
}
body #img3:hover {
  transform: scale(1.05);
  transition: 0.7s;
  box-shadow: 2px 2px 5px #333;
  border: 1px solid #ddd;
  width: 450px;
  height: 275px;
  border-radius: 8px;
  padding: 10px;
}
body #img4:hover {
  transform: scale(1.05);
  transition: 0.7s;
  box-shadow: 2px 2px 5px #333;
  border: 1px solid #ddd;
  width: 450px;
  height: 275px;
  border-radius: 8px;
  padding: 10px;
}
body #img5:hover {
  transform: scale(1.05);
  transition: 0.7s;
  box-shadow: 2px 2px 5px #333;
  border: 1px solid #ddd;
  width: 450px;
  height: 275px;
  border-radius: 8px;
  padding: 10px;
}
body #img6:hover {
  transform: scale(1.05);
  transition: 0.7s;
  box-shadow: 2px 2px 5px #333;
  border: 1px solid #ddd;
  width: 450px;
  height: 275px;
  border-radius: 8px;
  padding: 10px;
}
body footer {
  background-color: #311432;
  padding: 30px;
}
body footer p {
  color: #000;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}
body footer h2 {
  margin: 10px;
  text-align: center;
}
body form {
  text-align: center;
}

@media only screen and (min-width: 265px) and (max-width: 719px) {
  .body {
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
  }
  .galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    margin: 25px;
    justify-items: center;
    align-items: center;
  }
}
@media only screen and (min-width: 720px) and (max-width: 896px) {
  .body {
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
  }
  .galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-template-rows: 1fr;
    grid-row-gap: 10px;
    margin: 25px;
    justify-items: center;
    align-items: center;
  }
}
@media only screen and (min-width: 897px) and (max-width: 1263px) {
  .body {
    display: grid;
    box-sizing: border-box;
  }
  .galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5rem;
    margin: 25px;
    justify-items: center;
    align-items: center;
  }
  #img1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #img2 {
    grid-column: 2/2;
    grid-row: 1/2;
  }
  #img3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #img4 {
    grid-column: 2/2;
    grid-row: 2/3;
  }
  #img5 {
    grid-column: 1/2;
    grid-row: 3/3;
  }
  #img6 {
    grid-column: 2/2;
    grid-row: 3/3;
  }
}
@media only screen and (min-width: 1264px) {
  .body {
    display: grid;
    box-sizing: border-box;
  }
  .galeria {
    display: grid;
    margin-left: 30px;
    justify-items: center;
    align-items: center;
  }
}/*# sourceMappingURL=estilos.css.map */