$color1: #883000;
$color2: #311432;
$color3: #000;
$color4: white;
$font1: Verdana, Geneva, Tahoma, sans-serif;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(./multimedia/backgroundv2.jpg) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    border-style: none;

    header{
        background-image: url(./multimedia/Virology_LadyDi-1920x1024.jpg) !important;
        width: auto;
        height: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0px;
        padding: 0px;

        h1{
            color: $color1; 
            font-size: 100px;
            text-align: center;
            font-family: $font1;
            padding: 50px;
            text-shadow: 0 6px 0 white;

            .header-grid{
                display: grid;
                box-sizing: border-box;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: 1fr;
                justify-content: center;
                align-content: center;
                position: relative;
            }
        }

        .nav-grid{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1fr;
            justify-items: center;
            position: relative;
            list-style: none;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: $color4;
            border: 0px none rgba(100, 100, 100, 0);
            border-radius: 75px;
            background-color: rgba(165, 166, 246, 1);
            box-shadow:
            inset -1px -1px 20px 0px rgba(0, 0, 0, 0.23),
            inset 1px 1px 24px 0px rgba(125, 125, 237, 0.6);
        }
            #nav1:hover, #nav2:hover, #nav3:hover, #nav4:hover, #nav5:hover{
                text-transform: uppercase;
                text-shadow: 0 0 15px #8e54e9;
                transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
            }
            a:visited{text-decoration: none; color: $color1;} a{text-decoration: none; color: $color1;} 
    }

    h3{
        font-family: $font1;
        font-size: 32px;
        letter-spacing: 2px;
        word-spacing: 7px;
        text-align: center;
        text-decoration: underline;
        margin: 25px;
        padding: 10px;

        .subtitle-grid{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 1fr;
            justify-items: center;
            position: relative;
        }
    }

    h6{
        text-align: center;
        padding: 30px;
        margin: 10px;
    }

    .marquee{
        display: grid;
        font-family: $font1;
        font-size: 36px;
        margin-top: 20px;
        color: $color1;
        text-shadow: 0 4px 0 white;
    }

    .galeria{
        width: 100%;
        height: auto;
        padding: 20px;
    }
    
        .item{
            height: 200px;
            border: 2px solid #000;
            margin: 20px;
            padding: 20px;
            box-shadow: 2px 2px 5px #333;
        }
        .item:hover{
            transform: scale(1.05);
            transition: all 0.7s;
        }
    
        .item1{
            background-image: url(./multimedia/ladydimitrescu1.jpeg);
            background-size: cover;
            background-position: center;
        }
    
        .item2{
            background-image: url(./multimedia/ladydimitrescu2.jpg);
            background-size: cover;
            background-position: center;
        }
    
        .item3{
            background-image: url(./multimedia/ladydimitrescu3.jpg);
            background-size: cover;
            background-position: center;
        }
    
        .item4{
            background-image: url(./multimedia/ladydimitrescu4.png);
            background-size: cover;
            background-position: center;
        }
    
        .item5{
            background-image: url(./multimedia/Lady-Dimitrescu-Villana-1-1.jpg);
            background-size: cover;
            background-position: center;
        }
    
        .item6{
            background-image: url(./multimedia/dimitrescumutacion1.jpg);
            background-size: cover;
            background-position: center;
        }
    
        .item7{
            background-image: url(./multimedia/dimitrescumutacion2.jpg);
            background-size: cover;
            background-position: center;
        }
    
        .item8{
            background-image: url(./multimedia/maxresdefault.jpg);
            background-size: cover;
            background-position: center;
        }

    .videos{
        width: 75%;
        height: auto;
        margin: 20px;
        padding: 10px;
    }
        
        .video1{
            padding: 10px;
            background-size: cover;
            background-position: center;
        }
    
        .video2{
            padding: 10px;
            background-size: cover;
            background-position: center;
        }
    
        .video3{
            padding: 10px;
            background-size: cover;
            background-position: center;
        }
    
        .video4{
            padding: 10px;
            background-size: cover;
            background-position: center;
        }
    
        .video5{
            padding: 10px;
            background-size: cover;
            background-position: center;
        }
    
        .video6{
            padding: 10px;
            background-size: cover;
            background-position: center;
        }
    
        .video7{
            padding: 10px;
            background-size: cover;
            background-position: center;
        }
    
        .video8{
            padding: 10px;
            background-size: cover;
            background-position: center;
        }

        .video9{
            padding: 10px;
            background-size: cover;
            background-position: center;
        }

    section p{
        font-family: $font1;
        font-size: 24px;
        letter-spacing: 2px;
        word-spacing: 2px;
        line-height: 28px;
        text-align: center;
        text-align: justify;
        margin: 20px;
        padding: 20px;

        .indexp-grid{
            display: block;
            justify-content: center;
            align-content: center;
        }
    
        .historiap-grid{
            display: grid;
            justify-content: center;
            align-content: center;
        }

        .produccionp-grid{
            display: grid;
            justify-content: center;
            align-content: center;
        }
        .contactop-grid{
            display: grid;
            justify-content: center;
            align-content: center;
        }
    }

    .form{
        color: aliceblue;
        height: auto;
        border-radius: 7px;
        display: flex;
        justify-content: center;
    }

        fieldset {
            background-color: transparent;
            border-color: transparent;
        }

    footer{
        background-color: $color2;
        padding: 30px;

        p{
            color: $color3;
            font-size: 20px;
            text-align: center;
            margin: 10px;
        }

        h2{
            margin: 10px;
            text-align: center;
        }
    }
}

@media only screen and (min-width: 265px) and (max-width: 719px) {
    
    .body{
        display: grid;
        box-sizing: border-box;
        align-content: center;
    }
        h1{
            color: $color1; 
            font-size: 100px;
            text-align: center;
            font-family: $font1;
            padding: 50px;
            text-shadow: 0 2px 0 white;
        }
            .header-grid{
                display: grid;
                box-sizing: border-box;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: 1fr;
                justify-content: center;
                align-content: center;
                position: relative;
                font-size: 50px;
            }
            
        .subtitle-grid{
            display: grid;
            padding: 40px;
            margin: 20px;
        }

        h6{
            text-align: center;
            padding: 30px;
            margin: 10px;
        }

            @mixin sizes($width, $height){
                height: $height;
                width: $width;
            }
            .foto-produccion{
                @include sizes(350px, 500px);
                display: grid;
                margin: 10px;
                padding: 20px;
                justify-content: center;
                align-content: center;
            }

        section p{
            font-family: $font1;
            font-size: 24px;
            letter-spacing: 2px;
            word-spacing: 2px;
            line-height: 28px;
            text-align: center;
            text-align: justify;
            margin: 25px;
            padding: 10px;
        }
    
            .indexp-grid{
                display: grid;
                justify-content: center;
                align-content: center;
            }
    
            .historiap-grid{
                display: grid;
                justify-content: center;
                align-content: center;
            }
            .produccionp-grid{
                display: grid;
                justify-content: center;
                align-content: center;
                margin: 20px;
                padding: 75px;
            }
            .contactop-grid{
                display: grid;
                justify-content: center;
                align-content: center;
            }

        .videos{
            display: grid;
            grid-template-columns: 1fr;
            width: 400px;
            height: 250px;
        }
        
        
        .form{
            color: aliceblue;
            height: auto;
            border-radius: 7px;
            display: flex;
            justify-content: center;
        }
            fieldset{
                background-color: aliceblue;
                border-color: aliceblue;
            }
        footer{
            background-color: $color2;
            padding: 30px;
        }
            p{
                color: $color3;
                font-size: 20px;
                text-align: center;
                margin: 10px;
            }
            h2{
                margin: 10px;
                text-align: center;
            }
    }
@media only screen and (min-width: 720px) and (max-width: 896px) {
    
    .body{
        display: grid;
        box-sizing: border-box;
    }
        .header-grid{
            font-size: 50px;
        }

        .subtitle-grid{
            padding: 40px;
            margin: 20px;
        }
        .galeria{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .videos{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 400px;
            height: 250px;
        }
}
@media only screen and (min-width: 897px) and (max-width: 1263px) {
    
    .body{
        display: grid;
        box-sizing: border-box;
    }
        .header-grid{
            font-size: 75px;
        }

        .subtitle-grid{
            padding: 40px;
            margin: 20px;
        }

        .galeria{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .item8{
            grid-column: 2/4;
            grid-row: 3/4;
        }
        .videos{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 500px;
            height: 350px;
        }

            .video1, .video3, .video5, .video7, .video9{
                grid-column: 2/3;
            }

            .video2, .video4, .video6, .video8{
                grid-column: 3/4;
            }
}
@media only screen and (min-width: 1264px) {
    
    .body{
        display: grid;
        box-sizing: border-box;
    }
        .header-grid{
            font-size: 100px;
            padding: 50px;
            margin: 50px;
        }

        .subtitle-grid{
            padding: 20px;
            margin-top: 80px;
        }

        .indexp-grid{
            margin-top: 10px;
        }

        .galeria{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        .videos{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            width: 500px;
            height: 350px;
        }

            .video1, .video4, .video7{
                grid-column: 2/3;
            }

            .video2, .video5, .video8{
                grid-column: 4/5;
            }

            .video3, .video6, .video9{
                grid-column: 6/7;
            }
}

