$color1: #883000;
$color2: #311432;
$color3: #000;
$color4: white;
$font1: Verdana, Geneva, Tahoma, sans-serif;

*{
    margin: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(../multimedia/backgroundv2.jpg) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 0px;
    border-style: none;

    header{
        background-image: url(../multimedia/Virology_LadyDi-1920x1024.jpg) !important;
        width: auto;
        height: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0px;
        padding: 0px;

        h1{
            color: $color1; 
            font-size: 100px;
            text-align: center;
            font-family: $font1;
            padding: 50px;
            text-shadow: 0 2px 0 white;

            .header-grid{
                display: grid;
                box-sizing: border-box;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: 1fr;
                justify-content: center;
                align-content: center;
                position: relative;
            }
        }

        .nav-grid{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1fr;
            justify-items: center;
            position: relative;
            list-style: none;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: $color4;
            border: 0px none rgba(100, 100, 100, 0);
            border-radius: 75px;
            background-color: rgba(165, 166, 246, 1);
            box-shadow:
            inset -1px -1px 20px 0px rgba(0, 0, 0, 0.23),
            inset 1px 1px 24px 0px rgba(125, 125, 237, 0.6);
        }
            #nav1:hover, #nav2:hover, #nav3:hover, #nav4:hover, #nav5:hover{
                text-transform: uppercase;
                text-shadow: 0 0 15px #8e54e9;
                transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
            }
            a:visited{text-decoration: none; color: $color1;} a{text-decoration: none; color: $color1;} 
    }

    h3{
        font-family: $font1;
        font-size: 32px;
        letter-spacing: 2px;
        word-spacing: 7px;
        text-align: center;
        text-decoration: underline;
        margin: auto;
        padding: auto;

        .subtitle-grid{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 1fr;
            justify-items: center;
            position: relative;
        }
    }

    h6{
        text-align: center;
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
    }

    section p{
        font-family: $font1;
        font-size: 24px;
        letter-spacing: 2px;
        word-spacing: 2px;
        line-height: 28px;
        text-align: center;
        text-align: justify;
        margin: 100px;
        padding: 10px;

        .indexp-grid{
            display: block;
            justify-content: center;
            align-content: center;
        }
    
        .historiap-grid{
            display: grid;
            justify-content: center;
            align-content: center;
        }

        .produccionp-grid{
            display: grid;
            justify-content: center;
            align-content: center;
        }
        .contactop-grid{
            display: grid;
            justify-content: center;
            align-content: center;
        }
    }

    @mixin sizes($width, $height) {
        height: $height;
        width: $width;
    }
        
    .galeria{
        @include sizes(400px, 250px);
        margin: 20px;
    }

        #img1:hover, #img2:hover, #img3:hover, #img4:hover, #img5:hover, #img6:hover{
            transform: scale(1.05);
            transition: 0.7s;
            box-shadow: 2px 2px 5px #333;
            border: 1px solid #ddd;
            width: 450px;
            height: 275px;
            border-radius: 8px;
            padding: 10px;
            vertical-align: none;
        }

    .form{
        color: aliceblue;
        height: auto;
        width: 100vh;
        border-radius: 7px;
        display: flex;
        justify-content: center;
    }

        fieldset {
            background-color: transparent;
            border-color: transparent;
        }

    footer{
        background-color: $color2;
        padding: 30px;

        p{
            color: $color3;
            font-size: 20px;
            text-align: center;
            margin: 10px;
        }

        h2{
            margin: 10px;
            text-align: center;
        }
    }
}

@media only screen and (min-width: 265px) and (max-width: 719px) {
    
    .body{
        display: grid;
        box-sizing: border-box;
    }
        h1{
            color: $color1; 
            font-size: 100px;
            text-align: center;
            font-family: $font1;
            padding: 50px;
            text-shadow: 0 2px 0 white;
        }
            .header-grid{
                display: grid;
                box-sizing: border-box;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: 1fr;
                justify-content: center;
                align-content: center;
                position: relative;
                font-size: 50px;
            }
            
        .subtitle-grid{
            display: grid;
            padding: 40px;
            margin: 20px;
        }

        h6{
            text-align: center;
            padding-top: 30px;
            padding-right: 30px;
            padding-bottom: 30px;
            padding-left: 30px;
        }
        section p{
            font-family: $font1;
            font-size: 24px;
            letter-spacing: 2px;
            word-spacing: 2px;
            line-height: 28px;
            text-align: center;
            text-align: justify;
            margin: 25px;
            padding: 10px;
        }
    
            .indexp-grid{
                display: grid;
                justify-content: center;
                align-content: center;
            }
    
            .historiap-grid{
                display: grid;
                justify-content: center;
                align-content: center;
            }
            .produccionp-grid{
                display: grid;
                justify-content: center;
                align-content: center;
            }
            .contactop-grid{
                display: grid;
                justify-content: center;
                align-content: center;
            }
        @mixin sizes($width, $height){
            height: $height;
            width: $width;
        }
        .galeria{
            @include sizes(300px, 200px);
            margin: 20px;
            display: grid;
            grid-column-gap: 20px;
            grid-row-gap: 10px;
            justify-items: center;
            align-items: center;
        }
        .form{
            color: aliceblue;
            height: auto;
            width: 100vh;
            border-radius: 7px;
            display: flex;
            justify-content: center;
        }
            fieldset{
                background-color: transparent;
                border-color: transparent;
            }
        footer{
            background-color: $color2;
            padding: 30px;
        }
            p{
                color: $color3;
                font-size: 20px;
                text-align: center;
                margin: 10px;
            }
            h2{
                margin: 10px;
                text-align: center;
            }
    }
@media only screen and (min-width: 720px) and (max-width: 896px) {
    
    .body{
        display: grid;
        box-sizing: border-box;
    }
        .header-grid{
            font-size: 50px;
        }
        .subtitle-grid{
            padding: 40px;
            margin: 20px;
        }
        .galeria{
            display: grid;
            grid-column-gap: 20px;
            grid-row-gap: 10px;
            margin-left: 30px;
            justify-items: center;
            align-items: center;
        }
}
@media only screen and (min-width: 897px) and (max-width: 1263px) {
    
    .body{
        display: grid;
        box-sizing: border-box;
    }
        .header-grid{
            font-size: 75px;
        }
        .subtitle-grid{
            padding: 40px;
            margin: 20px;
        }
        .galeria{
            display: grid;
            grid-column-gap: 20px;
            grid-row-gap: 10px;
            margin: 25px;
            justify-items: center;
            align-items: center;
        }
}
@media only screen and (min-width: 1264px) {
    
    .body{
        display: grid;
        box-sizing: border-box;
    }
        .header-grid{
            font-size: 100px;
        }
        .subtitle-grid{
            padding: 40px;
            margin: 20px;
        }
        .galeria{
            display: grid;
            grid-column-gap: 20px;
            grid-row-gap: 10px;
            margin-left: 30px;
            justify-items: center;
            align-items: center;
        }
}

